*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* Header styles */
.header img{
  width: 100%;
  position: relative;
}
.header-content{
    position: absolute;
   text-align: right;
   margin-left: 1200px;
   margin-top: -700px;
   margin-right: 230px;
}
.header-title{
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: white;
}
.header-description{
    margin-top: 24px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    color:white;
}
.btn-contact{
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border-radius: 5px;
    border: 0;
}

/* Failure Section */
.failure{
    margin-top: 130px;
    margin-bottom: 130px;
}
.failure-container{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 100px;
}
.failure-title{
    font-weight: 700;
    font-size: 40px;
}
.failure-description{
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
}
.failure-list p{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
}

/* New Plans */
.new-plans{
    width: 1140px;
    margin: 0 auto;
}
.plans-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}
.plans{
    display: flex;
    justify-content: space-evenly;
}
.plan-list{
    text-align: center;
}
.plan-title{
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 30px;
}
.plan-list p{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* Positive Mindset */
.positive-mindset{
    margin-top: 130px;
    margin-bottom: 130px;
}
.positive-banner{
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    background-repeat: no-repeat;
    background-position: center, center;
    width: 1140px;
    margin: 0 auto;
}
.banner-content{
    margin-left: 65px;
    margin-right: 617px;
}
.banner-content h3{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-bottom: 24px;
    padding-top: 59px;
}
.contact{
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border-radius: 5px;
    border: 0;
    margin-bottom: 59px;
}

/* Bonus section */
.your-resolution{
    width: 1140px;
    margin: 0 auto;
}
.resolution-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 15px;
    
}
.resolution-description{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 50px;
}
.your-resolution iframe{
    margin-left: 150px;
    margin-bottom: 130px;
}
/* Footer */
footer{
    background: #151414
}
.footer-container{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 300px;
    padding: 130px 0;
}
.future-title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;
}
.future-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.sub-description{
    margin-bottom: 16px;
    color: #FFFFFF;
}
.sub-description-2{
    margin-bottom: 32px;
    color: #FFFFFF;
}
.icon{
    display: flex;
    justify-content: flex-start;
    gap: 25px;
}
.subscribe-title{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.subscribe input{
    padding: 22px 150px 22px 22px;
    background-color: #151414;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 16px;
}
.btn-subscribe{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #005FAC;
    border-radius: 8px;
    padding: 20px 36px;
}